<!-- MY URLS PAGE -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>TinyApp</title>
  </head>
  <body>
    <%- include("partials/_header") %>

    <main style="margin: 1em;">
      <h3>My URLs</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col" class="text-center">Edit</th>
            <th scope="col" class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
          <!-- Display all URLs for the logged in user's account/ID -->
          <!-- "url" = the shortURL object & "urls[url].longURL" = the longURL -->
          <% for (let url in urls) { %>
            <tr>
              <td><%= url %></td>
              <td><%= urls[url].longURL %></td>
              <!-- Edit button -->
              <td class="text-center"><form method="GET" action="/urls/<%= url %>"><button class="btn btn-outline-primary" type="submit">Edit</button></form></td>
              <!-- Delete button -->
              <td class="text-center"><form method="POST" action="/urls/<%= url %>/delete"><button class="btn btn-outline-danger" type="submit">Delete</button></form></td>
            </tr>
          <% } %>
        </tbody>
      </table>

      <!-- Link to create a new shortURL--only for logged in users-->
      <% if (user) { %>
      <div class="mx-auto my-3 text-center"><a href="/urls/new" class="btn btn-outline-success">Create a New Short URL</a></div>

      <!-- Message if user is not logged in -->
      <% } else { %>
      <div class="alert alert-warning mx-auto w-50" role="alert">
        <h4 class="alert-heading text-center mb-4 mt-3">Uh Oh, Forget to Login?</h4>
        <p class="text-center">Only logged in users can see their URLs.<br>
        <a href="/login" class="alert-link">Click here to login</a>.</p>
      </div>
      <% } %>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>